{% load static %}

<header class="cabecalho">
    <img class="logo" src="{% static 'img/np_logo.png' %}" alt="martelinho">
    <nav class="menu">
        <ul class="menu__lista">
            <li class="menu__item"><a class="menu__link ativo" href="{% url 'index' %}">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'cadastro' %}">Cadastre-se</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'login' %}">Login</a></li>
        </ul>
    </nav>
</header>
<div class="cabecalho__linha"></div>
<!-- <img class="capa" src="img/capa.png" alt=""> -->