{% extends 'base.html' %}
{% load static %}

    {% block content %}


        <section class="content">
            <h1 class="titulo">Escritório: {{ escritorio.nomeEscritorio }}</h1>
            <div class="form_container">

                <form action="{% url 'atualizaEscritorio' %}" class="formulario" method="POST">
                    {% csrf_token %}

                    <input type="text" class="form__campo" name="escritorioId" value="{{escritorio.escritorioId}}" hidden>

                    <label for="">Nome</label>
                    <input class="form__campo" name="nome" value="{{ escritorio.nomeUsuario }}" required >

                    <label for="">Sobrenome</label>
                    <input class="form__campo" name="sobrenome" value="{{ escritorio.sobrenomeUsuario }}" required >

                    <label for="">Nome Fantasia</label>
                    <input class="form__campo" name="nomeFantasia" value="{{ escritorio.nomeFantasia }}" required >

                    <label for="">CNPJ</label>
                    <input class="form__campo" type="number" name="cnpj" minlength="14" maxlength="14" value="{{ escritorio.cnpj }}" required>

                    <label for="">CPF</label>
                    <input class="form__campo" type="number" name="cpf" minlength="11" maxlength="11" value="{{ escritorio.cpf }}" required>

                    <label for="">Telefone</label>
                    <input class="form__campo" type="number" name="telefone" minlength="13" maxlength="15" value="{{ escritorio.telefone }}" required>

                    <label for="">E-mail</label>
                    <input class="form__campo" name="email" type="email" value="{{ escritorio.email }}" required>

                    <label for="">Inscrição Estadual</label>
                    <input class="form__campo" name="inscrEstadual"  minlength="9" maxlength="9" value="{{ escritorio.inscEstadual }}" required>

                    <label for="">CEP</label>
                    <input class="form__campo" type="number" name="cep" value="{{ escritorio.cep }}" required>

                    <label for="">Endereço</label>
                    <input class="form__campo" name="endereco" value="{{ escritorio.endereco }}" required>

                    <label for="">Número</label>
                    <input class="form__campo" type="number" name="endNumero" value="{{ escritorio.numero }}" required>

                    <label for="">Complemento</label>
                    <input class="form__campo" name="complemento" value="{{ escritorio.complemento }}">

                    <label for="">Cidade</label>
                    <input class="form__campo" name="cidade" value="{{ escritorio.cidade }}" required>

                    <label for="">Bairro</label>
                    <input class="form__campo" name="bairro" value="{{ escritorio.bairro }}" required>

                    <label for="">Estado</label>
                    <input class="form__campo" name="estado" value="{{ escritorio.estado }}" required>

                    <input class="form__btn" type="submit" value="enviar">

                </form>
            </div>
        </section>



    {% endblock %}