{% extends 'base.html' %}
{% load static %}

    {% block content %}

        <h1>Escritório: {{ user.nomeEscritorio }}</h1>

        <h1 class="titulo">Advogado: {{ adv.nomeUsuario }} {{ adv.sobrenomeUsuario }}</h1>
        <section class="content">
            <h1 class="titulo">Atualiza o ADV</h1>
            <div class="form_container">

                <form action="{% url 'atualizaAdv' %}" class="formulario" method="POST">
                    {% csrf_token %}

                     <input type="text" class="form__campo" name="advogadoId" value="{{adv.advogadoId}}" hidden>

                    <label for="">Nome</label>
                    <input class="form__campo" name="nome" value="{{ adv.nomeUsuario }}" required >

                    <label for="">Sobrenome</label>
                    <input class="form__campo" name="sobrenome" value="{{ adv.sobrenomeUsuario }}" required >

                    <label for="">numeroOAB</label>
                    <input class="form__campo" name="oab" minlength="9" maxlength="9" value="{{ adv.numeroOAB }}" required>

                    <label for="">Login</label>
                    <input class="form__campo" name="login" value="{{ adv.login }}" required >

                    <label for="">Senha</label>
                    <input class="form__campo" name="senha" size="10" maxlength="20" value="{{ adv.senha }}" required>

                    <label for="">Email</label>
                    <input class="form__campo" name="email" value="{{ adv.email }}" required>

                    <label for="">Nacionalidade</label>
                    <input class="form__campo"  name="nacionalidade" value="{{ adv.nacionalidade }}" required>

                    <label for="">Estado Civil</label>
                    <input class="form__campo" name="estadoCivil" value="{{ adv.estadoCivil }}" required >

                    <label for="">Ativo</label>
                    {% if adv.ativo %}
                        <input class="form__campo" type="checkbox" name="ativo" checked >
                    {% else %}
                        <input class="form__campo" type="checkbox" name="ativo" >
                    {% endif %}
                    <input class="form__btn" type="submit" value="enviar">

                </form>
            </div>
        </section>

    {% endblock %}