{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!-- MENU LATERAL -->

    <nav id="menu-lateral">
        <div class="txt_titulo_lateral">
            <span >Dados dos Escritório</span>
        </div>

        <ul class="menu-lateral-linhas">
          <li>Nome do Escritorio</li>       <span>-{{ user.nomeEscritorio }}</span>
          <li>Chaves</li>       <span>-{{ user.qtdChaves }}</span>
          <li>Nome</li>       <span>-{{ user.nomeUsuario }}</span>
          <li>SobreNome </li>       <span>-{{ user.sobrenomeUsuario }}</span>
          <li>Nome Fantasia</li>       <span>-{{ user.nomeFantasia }}</span>
          <li>CNPJ</li>       <span>-{{ user.cnpj }}</span>
          <li>CPF</li>       <span>-{{ user.cpf }}</span>
          <li>Telefone</li>       <span>-{{ user.telefone }}</span>
          <li>E-mail</li>       <span>-{{ user.email }}</span>
          <li>Inscrição Estadual</li>       <span>-{{ user.inscEstadual }}</span>
          <li>Endereço</li>       <span>-{{ user.endereco }}</span>
          <li>Número</li>       <span>-{{ user.numero }}</span>
          <li>Complemento</li>       <span>-{{ user.complemento }}</span>
          <li>CEP</li>       <span>-{{ user.cep }}</span>
          <li>Cidade</li>       <span>-{{ user.cidade }}</span>
          <li>Bairro</li>       <span>-{{ user.bairro }}</span>
          <li>Estado</li>       <span>-{{ user.estado }}</span>
          <li>Data de Cadastro</li>       <span>-{{ user.dataCadastro }}</span>

        </ul>
    </nav>


<!--    <h1>Chaves e Advogados cadastrados {{ user.email }} {{ intChavesUsadas }}/{{ user.qtdChaves }}</h1>-->

      <!-- essa classe essa em base -->
    <section class="teste">
        <div class="">
            <span>Bem vindo ao Escritório {{ user.nomeEscritorio }}</span>
        </div>
    </section>


     <div class="l-cards">

        {% if booTotalChaves %}

            {% if user.cnpj %}

                <article class="c-card">
                    <a class="c-card__image" href="{% url 'criaAdv' %}">
                        <img class="img_add_adv" src="static/img/plus.png" alt="image placeholder">
                    </a>
                </article>

            {% else %}

                <span>Falta Pouco, Antes Vamos terminar de Cadastrar suas informações</span>
                <article class="c-card">
                    <a class="c-card__image" href="{% url 'editaEscritorio' user.nomeEscritorio %}">
                        <img class="img_add_adv" src="static/img/plus.png" alt="image placeholder">
                    </a>
                </article>

            {% endif %}
        {% endif %}

        {% for key in advogados %}
            <article class="c-card">
                <div class="c-card__image">
                    <img class="img_adv" src="static/img/avatar.jpg" alt="image placeholder">
                </div>

                <div class="c-card__content">
                    <span class="" style="width:80%">{{ key.nomeUsuario }} {{ key.sobrenomeUsuario }}</span>

                    <div class="c-fild-OAB_btn">
                        <span class="" style="width:85%">OAB: {{ key.numeroOAB }}</span>

                        <!-- Rounded switch -->

                        <label class="switch">
                            {% if key.ativo %}
                                <input type="checkbox" name="ativo" checked>
                            {% else %}
                                <input type="checkbox" name="ativo" >
                            {% endif %}
                            <span class="slider round"></span>
                        </label>


                    </div>

                </div>

                <div class="btn_card">
                    <button class="atualizar_btn">
                        <a href="{% url 'editaAdv' key.advogadoId %}">Atualizar</a>
                    </button>
                    <button class="del_btn">
                        <a href="{% url 'deletaAdv' key.advogadoId %}">Deletar</a>
                    </button>
                </div>
            </article>
        {% endfor %}

    </div>


    {% endblock %}