{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!-- Banner -->
    <div class="">
        <img src="{% static 'img/banner2.png' %}" alt="" class="banner">
    </div>


    <section>
        <div class="container-flex">

            <h2 class="text-format">Nossa Atuação</h2>

            <div class="icon-flex">

                <div class="icon-item1">
                    <a href="">
                        <img class="icone" src="{% static 'img/icon-client.png' %}" alt="">
                    </a>

                    <p class="txt_icon_index">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                    </p>

                </div>

                <div class="icon-item2">

                    <p class="txt_icon_index">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                    </p>

                    <a href="">
                        <img class="icone" src="{% static 'img/icon-file.png' %}" alt="">
                    </a>


                </div>

                <div class="icon-item1">
                    <a href="">
                        <img class="icone" src="{% static 'img/icon-pasta.png' %}" alt="">
                    </a>

                    <p class="txt_icon_index">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                    </p>

                </div>

                <div class="icon-item2">

                    <p class="txt_icon_index">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus
                        iaculis urna id volutpat lacus laoreet.
                    </p>

                    <a href="">
                        <img class="icone" src="{% static 'img/icon-people.png' %}" alt="">
                    </a>

                </div>

            </div>

        </div>
    </section>

{% endblock %}