{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <section class="content">
        <div class="login">
            <h1 class="titulo">Entre com a sua conta</h1>
            <form action="{% url 'login' %}" class="formulario" method="POST">
                {% csrf_token %}
                <label for="">Usuário</label>
                <input class="login__campo" name="usuario" placeholder="Escolha um nome para o usuário">

                <label for="">Senha</label>
                <input class="login__campo"  type="password" size="20" maxlength="20" name="senha" placeholder="Digite uma senha">

                <input type="submit" value="enviar" class="menu__link" >

            </form>
        </div>
    </section>

    {% endblock %}