<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/reset.css">

    <link rel="stylesheet" href="footer.css">

    <link rel="stylesheet" href="static/css/teste2.css">

    <title>TESTE</title>

</head>


<body>


    <!-- NAV BAR ATUAL -->
    <header class="cabecalho">
        <img class="logo" src="static/img/np_logo.png" alt="martelinho">
        <nav class="menu">
            <ul class="menu__lista">
    
                    <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
                    <li class ="menu__item"><a class ="menu__link ativo" href="dashboard.html">Seu Escritório</a></li>
                    <li class ="menu__item"><a class ="menu__link ativo" href="cadastro.html">Cadastro</a></li>
                    <li class="menu__item"><a class="menu__link" href="login.html">Login</a></li>
    
            </ul>
        </nav>
    </header>





<!-- MENU LATERAL -->

<!-- <nav id="menu-lateral" class="menu-lateral"> -->
<nav id="menu-lateral">
    <div class="txt_titulo_lateral">
        <span >Dados dos Escritório</span>
    </div>

    <ul class="menu-lateral-linhas">
      <li>Nome do Escritorio</li>       <span>Mario de Andrade Advocacia Exemplo de ser assim</span>
      <li>Chaves</li>       <span>6</span>
      <li>Nome</li>       <span>João Davi</span>
      <li>SobreNome </li>       <span>Naveroso de Souza Silva Filho</span>
      <li>Nome Fantasia</li>       <span>Vem e Aprendendo ADVOGADOS</span>
      <li>CNPJ</li>       <span>XX.XXX.XXX/XXXX-XX</span>
      <li>CPF</li>       <span>XXX.XXX.XXX-XX</span>
      <li>Telefone</li>       <span>(XX) X-XXXX-XXXX</span>
      <li>E-mail</li>       <span>SeuEmailAqui@email.com.br</span>
      <li>Inscrição Estadual</li>       <span>?????? ?????? ??????</span>
      <li>Endereço</li>       <span>Desembargador Juarez Mattos Barreto Bezerra de Menezes</span>
      <li>CEP</li>       <span>XXXXX-XXX</span>
      <li>Cidade</li>       <span>São José do Vale do Rio Preto</span>
      <li>Bairro</li>       <span>Desembargador Juarez Mattos Barreto Bezerra de Menezes</span>
      <li>Estado</li>       <span>Minas Gerais</span>
  
    </ul>
  </nav>

  
  <!-- <div>Resto do conteúdo</div> -->

      <!-- essa classe essa em base -->
    <section class="teste">
        <div class="">
            <span>SEU ESCRITÓRIO</span>
            <span>NOME DO SEU ESCRITÓRIO</span>
        </div>
    </section>

<!-- CARDS -->

    <div class="l-cards">

        <!-- Esse  É O CARD DE  ADIÇÃO DE ADVS -->
        <article class="c-card">
            <a class="c-card__image" href="cadAdv.html">
                <img class="img_add_adv" src="static/img/plus.png" alt="image placeholder">
            </a>

        </article>


            <!--   CARDS DE ADVOGADOS CADASTRADOS -->


        <article class="c-card">
            <div class="c-card__image">
                <img class="img_adv" src="static/img/avatar.jpg" alt="image placeholder">

            </div>
        
            <div class="c-card__content">

                <div class="c-fild-OAB_btn">

                    <span class="" style="width:85%">OAB: 9999999999999</span>

                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    
                </div>

                <span class="" style="width:80%">Nome SobreNome</span>

            </div>

            <div class="btn_card">
                <button class="atualizar_btn"><a href="">Atualizar</a></button>
                <button class="del_btn"><a href="">Deletar</a></button>
            <div>

        </article>


    
    </div>


</body>

<footer>

  <p>Footer</p>

</footer>

</html>