h1 {
    font-size: 3rem;
    margin: 2rem 0;
}

.container__dash {
    display: flex;
    // margin-right: 30%;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    width: 75%;
    margin-bottom: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 20px;
    background: #fafafa;
    margin-bottom: 1.3rem;

    border: 0px solid;
    border-radius: 10px;

    img {
        height: 200px;
    }
  }

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.container {
padding: 2px 16px;
}

.opcoes {
    background: #dadada;
    float: left;
    display: flex;
    flex-direction: column;
    color: #444;
    width: 25%;
    align-items: center;
    border-bottom-right-radius: 2px;
   /* height:  100vh;*/
    overflow: auto;

    span {
        margin: 5px 0;
    }
}

footer {
    background: #fafafa;
}