.container__dash {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // margin-right: 30%;
    height: 80%;
    width: 100vh;
    overflow: hidden;
  
    font-family: 'Source Sans Pro',sans-serif;
    background: #fff;
    color: #282c33;
}