.banner {
    top: 0px;
    width: 100% !important;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container-flex {
    display: flex;
    flex-direction: column;
    // height: 100%;
}

.icon-flex {
    display: flex;
    justify-content: space-around;
}

.text-format{
    font-size: 32px;
    align-self: center;
}
.link-icon{
    display: block;
    text-align: center;
}

.icone {
    display: block;
    width: 100px;
    text-align: center;
}

