.menu__lista {
    display: flex;
}

@media screen and (min-width: 0) {
    .menu__lista  {

        flex-direction: column;

    }
} 

@media screen and (min-width: 380px ) {
    .menu__lista  {
        flex-direction: row;
    }
} 

